<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoFriendsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoFriends">
        <id column="id" property="id" />
        <result column="personal_no_id" property="personalNoId" />
        <result column="personal_no_wx_id" property="personalNoWxId" />
        <result column="user_id" property="userId" />
        <result column="user_wx_id" property="userWxId" />
        <result column="be_friend_time" property="beFriendTime" />
        <result column="remarks" property="remarks" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
