<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoPhoneTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoPhoneTask">
        <id column="id" property="id" />
        <result column="task_group_id" property="taskGroupId" />
        <result column="tname" property="tname" />
        <result column="step" property="step" />
        <result column="robot_id" property="robotId" />
        <result column="status" property="status" />
        <result column="tdescription" property="tdescription" />
        <result column="task_json" property="taskJson" />
        <result column="group_pool_id" property="groupPoolId" />
        <result column="wx_group_id" property="wxGroupId" />
        <result column="task_finished_tag" property="taskFinishedTag" />
        <result column="create_time" property="createTime" />
        <result column="pickup_time" property="pickupTime" />
        <result column="is_client_feedback_received" property="isClientFeedbackReceived" />
        <result column="feedback_received_time" property="feedbackReceivedTime" />
        <result column="is_client_feedback_finished" property="isClientFeedbackFinished" />
        <result column="feedback_finished_time" property="feedbackFinishedTime" />
        <result column="failed_reason" property="failedReason" />
        <result column="content" property="content" />
        <result column="content_type" property="contentType" />
        <result column="task_type" property="taskType" />
    </resultMap>

</mapper>
