<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoTaskBeginRemindMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoTaskBeginRemind">
        <id column="id" property="id" />
        <result column="personal_no_task_id" property="personalNoTaskId" />
        <result column="content_type" property="contentType" />
        <result column="content" property="content" />
        <result column="super_id" property="superId" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
