<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoData">
        <id column="id" property="id" />
        <result column="date" property="date" />
        <result column="to_people_num" property="toPeopleNum" />
        <result column="add_friends_num" property="addFriendsNum" />
        <result column="join_group_num" property="joinGroupNum" />
        <result column="today_keep" property="todayKeep" />
        <result column="the_rate_of_add_friends" property="theRateOfAddFriends" />
        <result column="the_rate_of_join_group" property="theRateOfJoinGroup" />
        <result column="global_conversion_rate" property="globalConversionRate" />
        <result column="the_rate_of_today_keep" property="theRateOfTodayKeep" />
        <result column="task_name" property="taskName" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
