<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoPhoneTaskGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoPhoneTaskGroup">
        <id column="id" property="id" />
        <result column="tname" property="tname" />
        <result column="total_step" property="totalStep" />
        <result column="next_step" property="nextStep" />
        <result column="status" property="status" />
        <result column="current_robot_id" property="currentRobotId" />
        <result column="group_pool_id" property="groupPoolId" />
        <result column="wx_group_id" property="wxGroupId" />
        <result column="create_time" property="createTime" />
        <result column="pickup_time" property="pickupTime" />
        <result column="finish_time" property="finishTime" />
        <result column="task_send_id" property="taskSendId" />
        <result column="lable_send_id" property="lableSendId" />
        <result column="task_order" property="taskOrder" />
    </resultMap>

</mapper>
