<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoChannel">
        <id column="id" property="id" />
        <result column="channel_name" property="channelName" />
        <result column="super_id" property="superId" />
        <result column="super_name" property="superName" />
        <result column="create_time" property="createTime" />
        <result column="remarks" property="remarks" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
