<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoAndKeywordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoAndKeyword">
        <id column="id" property="id" />
        <result column="personal_no_id" property="personalNoId" />
        <result column="personal_no_wx_id" property="personalNoWxId" />
        <result column="personal_no_nick_name" property="personalNoNickName" />
        <result column="keyword_id" property="keywordId" />
    </resultMap>

</mapper>
