<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoOperationStockWechatAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoOperationStockWechatAccount">
        <id column="id" property="id" />
        <result column="asset_id" property="assetId" />
        <result column="wx_buy_id" property="wxBuyId" />
        <result column="wx_id" property="wxId" />
        <result column="wx_id_bie_ming" property="wxIdBieMing" />
        <result column="assign_phone" property="assignPhone" />
        <result column="email" property="email" />
        <result column="id_card" property="idCard" />
        <result column="yin_hang_ka" property="yinHangKa" />
        <result column="nick_name" property="nickName" />
        <result column="sex" property="sex" />
        <result column="province" property="province" />
        <result column="country" property="country" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="whats_up" property="whatsUp" />
        <result column="qr_code" property="qrCode" />
        <result column="avatar" property="avatar" />
        <result column="is_have_realname" property="isHaveRealname" />
        <result column="is_slient_download" property="isSlientDownload" />
        <result column="operation_project_instance_id" property="operationProjectInstanceId" />
        <result column="wx_class" property="wxClass" />
        <result column="phone_stock_id" property="phoneStockId" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="password" property="password" />
        <result column="wx_login_time" property="wxLoginTime" />
        <result column="project_instance_reg_time" property="projectInstanceRegTime" />
        <result column="last_request_job_time" property="lastRequestJobTime" />
        <result column="last_finished_job_time" property="lastFinishedJobTime" />
        <result column="last_connect_time" property="lastConnectTime" />
        <result column="last_update_local_ip" property="lastUpdateLocalIp" />
        <result column="last_connect_internet_ip" property="lastConnectInternetIp" />
        <result column="click_id" property="clickId" />
        <result column="current_client_wehook_version" property="currentClientWehookVersion" />
        <result column="current_client_wechat_version" property="currentClientWechatVersion" />
    </resultMap>

</mapper>
