<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoPeopleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoPeople">
        <id column="id" property="id" />
        <result column="personal_friend_wx_id" property="personalFriendWxId" />
        <result column="personal_friend_nick_name" property="personalFriendNickName" />
        <result column="personal_no_wx_id" property="personalNoWxId" />
        <result column="personal_task_id" property="personalTaskId" />
        <result column="channel_id" property="channelId" />
        <result column="be_friend_time" property="beFriendTime" />
        <result column="remarks" property="remarks" />
        <result column="deleted" property="deleted" />
        <result column="flag" property="flag" />
    </resultMap>

</mapper>
