<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoFriendsCircleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoFriendsCircle">
        <id column="id" property="id" />
        <result column="friends_circle_theme" property="friendsCircleTheme" />
        <result column="auto_send" property="autoSend" />
        <result column="friends_circle_official" property="friendsCircleOfficial" />
        <result column="card_url" property="cardUrl" />
        <result column="card_url_cover" property="cardUrlCover" />
        <result column="status" property="status" />
        <result column="super_id" property="superId" />
        <result column="create_time" property="createTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
