<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoRequestExceptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoRequestException">
        <id column="id" property="id" />
        <result column="method" property="method" />
        <result column="url" property="url" />
        <result column="request_body" property="requestBody" />
        <result column="response_body" property="responseBody" />
        <result column="status_code" property="statusCode" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <insert id="add" parameterType="com.warm.system.entity.PersonalNoRequestException" useGeneratedKeys="true" keyProperty="entity.id">
        insert into ${entity.db}
          (id,method,url,request_body,response_body,status_code,create_time)
        values
          (#{entity.id},#{entity.method},#{entity.url},#{entity.requestBody},#{entity.responseBody},#{entity.statusCode},#{entity.createTime})
    </insert>

    <update id="updateOne" parameterType="com.warm.system.entity.PersonalNoRequestException" useGeneratedKeys="true" keyProperty="entity.id">
        UPDATE ${entity.db}
        <set>
            <if test="entity.method!=null">
                method = #{entity.method},
            </if>
            <if test="entity.url!=null">
                url = #{entity.url},
            </if>
            <if test="entity.requestBody!=null">
                request_body = #{entity.requestBody},
            </if>
            <if test="entity.responseBody!=null">
                response_body = #{entity.responseBody},
            </if>
            <if test="entity.statusCode!=null">
                status_code = #{entity.statusCode},
            </if>
            <if test="entity.createTime!=null">
                create_time = #{entity.createTime},
            </if>
        </set>
        where id = #{entity.id}
    </update>

</mapper>
