<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoPrismRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoPrismRecord">
        <id column="id" property="id" />
        <result column="beta_type" property="betaType" />
        <result column="by_owner" property="byOwner" />
        <result column="by_qrcode" property="byQrcode" />
        <result column="chatroom" property="chatroom" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="ext_content" property="extContent" />
        <result column="from_nickname" property="fromNickname" />
        <result column="is_reporter_mentioned" property="reporterMentioned" />
        <result column="is_robot_mentioned" property="robotMentioned" />
        <result column="is_sent" property="sent" />
        <result column="logic_id" property="logicId" />
        <result column="md5" property="md5" />
        <result column="package_id" property="packageId" />
        <result column="to_user_type" property="toUserType" />
        <result column="to_user_name_list" property="toUserNameList" />
        <result column="type" property="type" />
        <result column="unit" property="unit" />
        <result column="we_chatmsg_type" property="weChatmsgType" />
        <result column="whatever" property="whatever" />
        <result column="from_username" property="fromUsername" />
        <result column="report_logic_id" property="reportLogicId" />
        <result column="report_internet_ip" property="reportInternetIp" />
        <result column="report_time" property="reportTime" />
        <result column="get_logic_id" property="getLogicId" />
        <result column="get_internet_ip" property="getInternetIp" />
        <result column="get_time" property="getTime" />
    </resultMap>

    <insert id="add" parameterType="com.warm.system.entity.PersonalNoPrismRecord" useGeneratedKeys="true" keyProperty="entity.id">
        insert into ${entity.db}
          (id,beta_type,by_owner,by_qrcode
          ,chatroom,content,create_time,ext_content
          ,from_nickname,is_reporter_mentioned,is_robot_mentioned,is_sent
          ,logic_id,md5,package_id,to_user_type
          ,to_user_name_list,`type`,unit,we_chatmsg_type
          ,whatever,from_username,report_logic_id,report_internet_ip
          ,report_time,get_logic_id,get_internet_ip,get_time)
        values
          (#{entity.id},#{entity.betaType},#{entity.byOwner},#{entity.byQrcode}
          ,#{entity.chatroom},#{entity.content},#{entity.createTime},#{entity.extContent}
          ,#{entity.fromNickname},#{entity.reporterMentioned},#{entity.robotMentioned},#{entity.sent}
          ,#{entity.logicId},#{entity.md5},#{entity.packageId},#{entity.toUserType}
          ,#{entity.toUserNameList},#{entity.type},#{entity.unit},#{entity.weChatmsgType}
          ,#{entity.whatever},#{entity.fromUsername},#{entity.reportLogicId},#{entity.reportInternetIp}
          ,#{entity.reportTime},#{entity.getLogicId},#{entity.getInternetIp},#{entity.getTime})
    </insert>

    <update id="updateOne" parameterType="com.warm.system.entity.PersonalNoPrismRecord" useGeneratedKeys="true" keyProperty="entity.id">
        UPDATE ${entity.db}
        <set>
            <if test="entity.betaType!=null">
                beta_type = #{entity.betaType},
            </if>
            <if test="entity.byOwner!=null">
                by_owner = #{entity.byOwner},
            </if>
            <if test="entity.byQrcode!=null">
                by_qrcode = #{entity.byQrcode},
            </if>
            <if test="entity.chatroom!=null">
                chatroom = #{entity.chatroom},
            </if>
            <if test="entity.content!=null">
                content = #{entity.content},
            </if>
            <if test="entity.createTime!=null">
                create_time = #{entity.createTime},
            </if>
            <if test="entity.extContent!=null">
                ext_content = #{entity.extContent},
            </if>
            <if test="entity.fromNickname!=null">
                from_nickname = #{entity.fromNickname},
            </if>
            <if test="entity.reporterMentioned!=null">
                is_reporter_mentioned = #{entity.reporterMentioned},
            </if>
            <if test="entity.robotMentioned!=null">
                is_robot_mentioned = #{entity.robotMentioned},
            </if>
            <if test="entity.sent!=null">
                is_sent = #{entity.sent},
            </if>
            <if test="entity.logicId!=null">
                logic_id = #{entity.logicId},
            </if>
            <if test="entity.md5!=null">
                md5 = #{entity.md5},
            </if>
            <if test="entity.packageId!=null">
                package_id = #{entity.packageId},
            </if>
            <if test="entity.toUserType!=null">
                to_user_type = #{entity.toUserType},
            </if>
            <if test="entity.toUserNameList!=null">
                to_user_name_list = #{entity.toUserNameList},
            </if>
            <if test="entity.type!=null">
                `type` = #{entity.type},
            </if>
            <if test="entity.unit!=null">
                `unit` = #{entity.unit},
            </if>
            <if test="entity.weChatmsgType!=null">
                `we_chatmsg_type` = #{entity.weChatmsgType},
            </if>
            <if test="entity.whatever!=null">
                `whatever` = #{entity.whatever},
            </if>
            <if test="entity.fromUsername!=null">
                `from_username` = #{entity.fromUsername},
            </if>
            <if test="entity.reportLogicId!=null">
                `report_logic_id` = #{entity.reportLogicId},
            </if>
            <if test="entity.reportInternetIp!=null">
                `report_internet_ip` = #{entity.reportInternetIp},
            </if>
            <if test="entity.reportTime!=null">
                `report_time` = #{entity.reportTime},
            </if>
            <if test="entity.getLogicId!=null">
                `get_logic_id` = #{entity.getLogicId},
            </if>
            <if test="entity.getInternetIp!=null">
                `get_internet_ip` = #{entity.getInternetIp},
            </if>
            <if test="entity.getTime!=null">
                `get_time` = #{entity.getTime},
            </if>
        </set>
        where id = #{entity.id}
    </update>

</mapper>
