<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoUser">
        <id column="id" property="id" />
        <result column="wx_id" property="wxId" />
        <result column="wx_name" property="wxName" />
        <result column="nick_name" property="nickName" />
        <result column="head_portrait" property="headPortrait" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="gender" property="gender" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="openid" property="openid" />
        <result column="unionid" property="unionid" />
    </resultMap>

    <insert id="add" parameterType="com.warm.system.entity.PersonalNoUser" useGeneratedKeys="true" keyProperty="entity.id">
        insert into ${entity.db}
          (id,wx_id,nick_name,wx_name
          ,head_portrait,address,phone,gender
          ,deleted,create_time,openid,unionid)
        values
          (#{entity.id},#{entity.wxId},#{entity.nickName},#{entity.wxName}
          ,#{entity.headPortrait},#{entity.address},#{entity.phone},#{entity.gender}
          ,#{entity.deleted},#{entity.createTime},#{entity.openid},#{entity.unionid})
    </insert>

    <update id="updateOne" parameterType="com.warm.system.entity.PersonalNoUser" useGeneratedKeys="true" keyProperty="entity.id">
        UPDATE ${entity.db}
        <set>
            <if test="entity.wxId!=null">
                wx_id = #{entity.wxId},
            </if>
            <if test="entity.nickName!=null">
                nick_name = #{entity.nickName},
            </if>
            <if test="entity.wxName!=null">
                wx_name = #{entity.wxName},
            </if>
            <if test="entity.headPortrait!=null">
                head_portrait = #{entity.headPortrait},
            </if>
            <if test="entity.address!=null">
                address = #{entity.address},
            </if>
            <if test="entity.phone!=null">
                phone = #{entity.phone},
            </if>
            <if test="entity.gender!=null">
                gender = #{entity.gender},
            </if>
            <if test="entity.deleted!=null">
                deleted = #{entity.deleted},
            </if>
            <if test="entity.createTime!=null">
                create_time = #{entity.createTime},
            </if>
            <if test="entity.openid!=null">
                openid = #{entity.openid},
            </if>
            <if test="entity.unionid!=null">
                unionid = #{entity.unionid},
            </if>
        </set>
        where id = #{entity.id}
    </update>

</mapper>
