<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoPeopleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoPeople">
        <id column="id" property="id" />
        <result column="personal_friend_wx_id" property="personalFriendWxId" />
        <result column="personal_friend_nick_name" property="personalFriendNickName" />
        <result column="personal_no_wx_id" property="personalNoWxId" />
        <result column="personal_task_id" property="personalTaskId" />
        <result column="channel_id" property="channelId" />
        <result column="be_friend_time" property="beFriendTime" />
        <result column="remarks" property="remarks" />
        <result column="deleted" property="deleted" />
        <result column="flag" property="flag" />
    </resultMap>

    <insert id="add" parameterType="com.warm.system.entity.PersonalNoPeople" useGeneratedKeys="true" keyProperty="entity.id">
        insert into ${entity.db}
          (id,personal_friend_wx_id,personal_friend_nick_name,personal_no_wx_id,personal_task_id,channel_id,be_friend_time,remarks,flag)
        values
          (#{entity.id},#{entity.personalFriendWxId},#{entity.personalFriendNickName},#{entity.personalNoWxId},#{entity.personalTaskId},#{entity.channelId},#{entity.beFriendTime},#{entity.remarks},#{entity.flag})
    </insert>

    <update id="updateOne" parameterType="com.warm.system.entity.PersonalNoPeople" useGeneratedKeys="true" keyProperty="entity.id">
        UPDATE ${entity.db}
        <set>
            <if test="entity.personalFriendWxId!=null">
                personal_friend_wx_id = #{entity.personalFriendWxId},
            </if>
            <if test="entity.personalFriendNickName!=null">
                personal_friend_nick_name = #{entity.personalFriendNickName},
            </if>
            <if test="entity.personalNoWxId!=null">
                personal_no_wx_id = #{entity.personalNoWxId},
            </if>
            <if test="entity.personalTaskId!=null">
                personal_task_id = #{entity.personalTaskId},
            </if>
            <if test="entity.channelId!=null">
                channel_id = #{entity.channelId},
            </if>
            <if test="entity.beFriendTime!=null">
                be_friend_time = #{entity.beFriendTime},
            </if>
            <if test="entity.remarks!=null">
                remarks = #{entity.remarks},
            </if>
            <if test="entity.flag!=null">
                flag = #{entity.flag},
            </if>
            <if test="entity.deleted!=null">
                deleted = #{entity.deleted},
            </if>
        </set>
        where id = #{entity.id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        ${sql}
    </delete>

    <select id="list" resultMap="BaseResultMap" parameterType="java.lang.String">
        ${sql}
    </select>

    <select id="listString" resultType="java.lang.String" parameterType="java.lang.String">
        ${sql}
    </select>

    <select id="getOne" resultMap="BaseResultMap" parameterType="java.lang.String">
        ${sql}
    </select>

    <select id="getCount" resultType="java.lang.Long" parameterType="java.lang.String">
        ${sql}
    </select>

</mapper>
